<div class="flight_details_container">
        <h3 class="title_flight">Vol aller</h3>
        <div class="flight_card">
          <div class="one_trip_table">
            <div class="trip_table_head">
              <div class="time"><i class="fa fa-calendar" aria-hidden="true"></i></div>
              <div class="place"><i class="fa fa-globe" aria-hidden="true"></i></div>
              <div class="company">Airline</div>
              <div class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
            </div>
            <div class="flight_row">
              <div class="time"><p><%=result_details[:depart_flights].first.departure_datetime.to_date.strftime("%A, %b %d") %></p></div>
              <div class="place"><%=result_details[:depart_flights].first.departure_airport%></div>
              <div class="company"><img src=<%=result_details[:depart_flights].first.marketing_airline%> alt="Airline Company" height="32"> </div></div>
              <div class="duration">To do API</div>
            </div>
            <% if result_details[:depart_flights][1] %>
              <div class="stopover_row">
                <div class= "stopover_draw">Stopover</div>
                <div class= "stopover_duration">3H30</div>
              </div>
              <div class="flight_row">
                <div class="time"><p><%=result_details[:depart_flights][1].departure_datetime.to_date.strftime("%A, %b %d") %></p></div>
                <div class="place"><%=result_details[:depart_flights][1].departure_airport%></div>
                <div class="company"><img src=<%=result_details[:depart_flights][1].marketing_airline%> alt="Airline Company" height="32"> </div>
                <div class="duration">TO DO API</div>
              </div>
            <% end %>
          </div>
        </div>

        <h3 class="title_flight">Vol retour</h3>
        <div class="flight_card">
          <div class="one_trip_table">
            <div class="trip_table_head">
              <div class="time"><i class="fa fa-calendar" aria-hidden="true"></i></div>
              <div class="place"><i class="fa fa-globe" aria-hidden="true"></i></div>
              <div class="company">Airline</div>
              <div class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
            </div>
            <div class="flight_row">
              <div class="time"><p><%=result_details[:return_flights].first.departure_datetime.to_date.strftime("%A, %b %d") %></p></div>
              <div class="place"><%=result_details[:return_flights].first.departure_airport%></div>
              <div class="company"><img src=<%=result_details[:return_flights].first.marketing_airline%> alt="Airline Company" height="32"> </div></div>
              <div class="duration">To do API</div>
            </div>
            <% if result_details[:return_flights][1] %>
              <div class="stopover_row">
                <div class= "stopover_draw">Stopover</div>
                <div class= "stopover_duration">3H30</div>
              </div>
              <div class="flight_row">
                <div class="time"><p><%=result_details[:return_flights][1].departure_datetime.to_date.strftime("%A, %b %d") %></p></div>
                <div class="place"><%=result_details[:return_flights][1].departure_airport%></div>
                <div class="company"><img src=<%=result_details[:return_flights][1].marketing_airline%> alt="Airline Company" height="32"> </div></div>
                <div class="duration">TO DO API</div>
              </div>
            <% end %>
          </div>
        </div>

      </div>
