<h3 class="title_flight">Vol aller</h3>
<div class="collection flight_card">
  <div class="collection-item one_trip_table">
    <div class="trip_table_head">
      <div class="time"><i class="fa fa-calendar" aria-hidden="true"></i></div>
      <div class="place"><i class="fa fa-globe" aria-hidden="true"></i></div>
      <div class="company"><i class="fa fa-ticket" aria-hidden="true"></i></div>
    </div>
    <div class="flight_row">
      <div class="time">
        <div class="take_off_time">
          <p class="date"><%=result_details[:depart_flights].first.departure_datetime.to_date.strftime("%A, %b %d") %></p>
          <p class="hour">12H30</p>
        </div>
      </div>
      <div class="place">
        <p class="take_off_place"><%=result_details[:depart_flights].first.departure_airport%></p>
      </div>
      <div class="company">
        <img src="<%=result_details[:depart_flights].first.marketing_airline%>" alt="company" style="max-width:58px">
      </div>
    </div>
    <div class="flight_row">
      <div class="time">
        <div class= "landing_time">
          <p class="date">Mardi 14 février</p>
          <p class="hour"> 14h30</p>
        </div>
      </div>
      <div class="place">
        <p class="landing_place">Denpasar - DPS TO DO </p>
      </div>
      <div class="company">
        <img src="<%=result_details[:depart_flights].first.marketing_airline%>" alt="company" style="max-width:58px">
      </div>
    </div>
    <div class="stopover_nb">
      <p style="text-align: right">Nombre d'escales : <span style="color:#0072BB">3</span></p>
    </div>
  </div>
</div>

<h3 class="title_flight">Vol retour</h3>
<div class=" collection flight_card">
  <div class="collection-item one_trip_table">
    <div class="trip_table_head">
      <div class="time"><i class="fa fa-calendar" aria-hidden="true"></i></div>
      <div class="place"><i class="fa fa-globe" aria-hidden="true"></i></div>
      <div class="company"><i class="fa fa-ticket" aria-hidden="true"></i></div>
    </div>
    <div class="flight_row">
      <div class="time">
        <div class="take_off_time">
          <p class="date"><%=result_details[:return_flights].first.departure_datetime.to_date.strftime("%A, %b %d") %></p>
          <p class="hour">13H20</p>
        </div>
      </div>
      <div class="place">
        <p class="take_off_place"><%=result_details[:return_flights].first.departure_airport%></p>
      </div>
      <div class="company">
        <img src=" <%=result_details[:return_flights].first.marketing_airline%>" alt="company" style="max-width: 58px">
      </div>
    </div>
    <div class="flight_row">
      <div class="time">
        <div class="landing_time">
          <p class="date">Mardi 14 février</p>
          <p class="hour"> 14h30</p>
        </div>
      </div>
      <div class="place">
        <p class="landing_place">To Do</p>
      </div>
      <div class="company">
        <img src=" <%=result_details[:return_flights].first.marketing_airline%>" alt="company" style="max-width: 58px">
      </div>
    </div>
    <div class="stopover_nb">
      <p style="text-align: right">Nombre d'escales : <span style="color:#0072BB">3</span></p>
    </div>
  </div>
</div>

