<div class="container">
  <div class="go_home">
    <div class="logo_home">
      <i class="fa fa-home" aria-hidden="true"></i>
    </div>
  </div>
  <div class="row">
    <div class="results_wrapper col s12">
      <div class="results_lists col s6 result-list">
        <div class="presentation_title-result">
          <h5><%= @trip_periode%></h5>
          </div>
            <% @trips_results.each_with_index do |trip, index|%>
              <div class="collection card-left ">
                <div class="collection-item background-date">
                  <div class="datecontainer">
                    <div class="depart-date"> <%= trip[:depart_date].to_date.strftime('%A %e')%> </div>
                    <div><i class="fa fa-arrows-h fa-2x" aria-hidden="true"></i></div>
                     <div class="retour-date"> <%= trip[:return_date].to_date.strftime('%A %e') %> </div>
                  </div>
                </div>
                <div class="slider-date">
                  <div  data-trip_index="<%= index %>">
                    <div class="date_range_graph_field">
                      <div class="date_range_graph">
                        <div class="date_representation_sliders" data-departure_date_day="<%= trip[:depart_date].to_date.strftime('%e').to_i %>" data-departure_date_month="<%= trip[:depart_date].to_date.strftime('%m') %>" data-arrival_date_day="<%= trip[:return_date].to_date.strftime('%e').to_i %>">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex-container-result">
                    <p style="color:grey">Temps de voyage:</p>
                    <div class="time_flight">
                      <div class="start_flight_duration">
                        <div class="container-flex-icone">
                          <div>
                            <i class="fa fa-plane" aria-hidden="true"></i>Aller:
                          </div>
                          <%= trip[:depart_trip_duration]%>
                        </div>
                      </div>
                      <div class="return_flight_duration">
                        <div class="container-flex-icone">
                          <div>
                            <i class="fa fa-plane" aria-hidden="true"></i>Retour:
                          </div>
                          <%= trip[:return_trip_duration]%>
                        </div>
                      </div>
                    </div>
                  <div class="flight_price">
                    <p><%=trip[:price]%>€</p>
                  </div>
                </div>
            </div>
          <% end %>
        </div>
      <div class="flight_details_container col s6" style="position: fixed; width: 35%; margin-left:0;">
        <div id="results_details_container" >
         <%= render 'result_details', result_details: @trips_results[0]%>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      // Slider initialization
      $('.date_representation_sliders').each(function(){
        var slider = noUiSlider.create(this, {
          start: [$(this).data('departure_date_day'), $(this).data('arrival_date_day')],
          tooltips: true,
          connect: true,
          step: 1,
          range: {
            'min': 1,
            'max': 31,
          },
          format: {
            to: function ( value ) {
              return value + '';
            },
            from: function ( value ) {
              return value.replace('.00', $(this).data('departure_date_month'));
            }
          },
          disabled: true,
        });
        this.setAttribute('disabled', true);
      });

      // Flight results
      var trips_results_details = [];
      <% @trips_results.each_with_index do |result_details, index| %>
        var result_details = "<%= j render 'result_details', result_details: result_details %>"
        trips_results_details[<%= index %>] = result_details
      <% end %>

      // Register click on card result
      $('.card-left').click(function(){
        $('.background-date').removeClass('select');
        $(this).find(".background-date").addClass('select');

        // Detect the index
        var index = $(this).data('trip_index');
        var result_details_div = trips_results_details[index];
        $('#results_details_container').html(result_details_div);
      })




    })
  </script>
<% end %>

