<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="col s6">
          <div class="blue-text text-darken-2 search_card_left">
        <!-- définir la route exact et le type de méthode get/post -->
            <%= form_tag(flights_path, method: :get) do %>
              <div class="input-field line_1">
                <%= number_field(:duration, nil, in: 1..30, step: 1, placeholder: "Durée du séjour en jours", class: "validate field_1") %>
                <div class="arrow-search arrow_1 hidden"></div>
              </div>
              <div class="input-field line_2">
                <%= select_tag(:periode, options_for_select(@periode), multiple: false) %>
                <div class="arrow-search arrow_2 hidden"></div>
              </div>

                <div class="input-field line_3 ui-widget" id="search">
                  <%= text_field_tag(:departure, nil, placeholder:"Départ", class: "validate autocomplete") %>
                </div>
              <div class="input-field line_4" id="search_destination">

                <%= text_field_tag(:destination, nil, placeholder:"Destination", class: "validate") %>
                <div class="arrow-search arrow_4 hidden"></div>
              </div>
              <div>
                <p>Nombre de passagers</p>
              </div>
              <div class="passagers_selection">
                <div class="input-field passagers_child">
                  <p>Enfant(s)</p>
                  <%= select_tag(:passagers_child, options_for_select(@passagers_number), class: "browser-default") %>
                </div>
                <div class="input-field passagers_young">
                  <p>Jeune(s)</p>
                  <%= select_tag(:passagers_young, options_for_select(@passagers_number), class: "browser-default") %>
                </div>
                <div class="input-field passagers_adult">
                  <p>Adulte(s)</p>
                  <%= select_tag(:passagers_adult, options_for_select(@passagers_number), class: "browser-default") %>
                </div>

              </div>
              <div class="input-field line_5">
                <%= submit_tag("Rechercher", class: "search_button btn waves-effect waves-light") %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col s6">
          <div class="blue-text text-darken-2 search_card_right">
            <div class="arrow_0_target"></div>
            <div class="arrow_1_target hidden">
              <p >Durée du séjour :</p>
            </div>
            <div class="arrow_1_target hidden collection">
              <div class="collection-item" data-nb_days="2">2 jours</div>
              <div class="collection-item" data-nb_days="3">3 jours</div>
              <div class="collection-item" data-nb_days="5">5 jours</div>
              <div class="collection-item" data-nb_days="7">7 jours</div>
              <div class="collection-item" data-nb_days="10">10 jours</div>
              <div class="collection-item" data-nb_days="14">14 jours</div>
            </div>
            <div class="arrow_3_target hidden"></div>
            <div class="arrow_4_target hidden"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "cloud", color: "blue" %>
<%= render "sun" %>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $( ".collection-item" ).click(function() {
        $( ".collection-item" ).removeClass('active');
        $(this).addClass('active')
        var nb_days = $(this).data("nb_days");
        $('#duration_').val(nb_days);
      });
    })

    $('#departure').keypress(function(e){
     var letter = e.target.value;
     var url = "<%= autocomplete_path %>" + ".js"
     $.ajax({
       url: url,
       data: {
         query: letter
       },
       dataType: "script",
       sucess: function(data){
         console.log(data)
       }
     })
   });


$('#departure').autocomplete({
  data: {
    "Apple": null,
    "Microsoft": null,
  }

});
  </script>

<% end %>

