<div class="wrapper">
  <div class="container">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
          <!-- définir la route exact et le type de méthode get/post -->
            <%= form_tag(flights_path, method: :get) do %>
            <div>
              <%= number_field(:duration, nil, in: 1..30, step: 1, placeholder: "Durée du séjour en jours", class: "validate") %>
            </div>
            <div>
              <%= select_tag(:periode, options_for_select(@periode, disabled: "Choisissez votre période"), multiple: true) %>
            <div>
              <%= text_field_tag(:departure, nil, placeholder:"Lieu de départ", class: "validate") %>
            </div>
            <div>
              <%= text_field_tag(:destination, nil, placeholder:"Destination", class: "validate") %>
            </div>
            <%= submit_tag("Rechercher", class: "btn waves-effect waves-light ") %>
            <% end %>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
